<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>凤歌-文章发布</title>
</head>
<body>
    <form method="post">
        <input type="text" name="title">
        <input type="text" name="tags">
        <textarea name="content" id="" cols="100" rows="20"></textarea>
        <input type="text" name="series">
        <input type="text" name="route">
        <br>
        <input type="submit" value="发布">
    </form> 
</body>
</html>